<!DOCTYPE html>
<html>
<head>
<title>alpha-blog</title>
</head>
<body>

<h1 style="text-align:center; font-weight: bold; background-color:#107A14; font-size: 60px; top:0">Alpha-Blog</h1>

<center><img src="https://www.udemy.com/staticx/udemy/images/v5/logo-green.svg"/></center>

<ul style="list-style:none; font-size:40px; text-align: left">
     <li><a href="#"> Home</a></li>
    <li style="text-decoration: none"><%= link_to 'About', pages_about_path %></li>
</ul>

<container style="text-align: center; margin: 0 auto; padding:30px 30px; ">

<h2>HOME</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu est lectus. 
In semper ultrices augue, id congue nisi maximus a. Nulla ante massa, posuere nec 
ante bibendum, consectetur vehicula elit. Maecenas sagittis, enim eu facilisis iaculis, 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu est lectus. 
In semper ultrices augue, id congue nisi maximus a. Nulla ante massa, posuere nec 
ante bibendum, consectetur vehicula elit. Maecenas sagittis, enim eu facilisis iaculis, 
quam nulla tincidunt tortor</p>


</container>

<footer style="height: 50px; background-color:#107A14 ">
    <center><h3>Alpha-Blog</h3></center>
</footer>

</body>
</html>



